@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import '../../node_modules/antd/dist/antd.variable.min.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import './movie-card.css';
@import './movie-slider.css';
@import './admin-menu.css';
@tailwind utilities;

:root {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0deg;
  --tw-skew-x: 0deg;
  --tw-skew-y: 0deg;

  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;

  --ant-layout-background: #f0f2f5;
  --main-content-padding-x: 50px;
}

#root {
  height: 100%;
}

#root > .ant-layout {
  min-height: 100vh;
}

.ant-modal-body {
  padding: theme('spacing.4');
}

.ant-modal-header {
  padding: theme('spacing.4');
}

.login-register-modal {
  .ant-modal-body {
    padding-top: theme('spacing.1');
  }

  .ant-modal-close-x {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.ant-form-item:last-child {
  margin-bottom: 0;
}

.ant-dropdown-menu-title-content > .anticon {
  margin-right: theme('spacing.2');
}

.anticon.svg-full > svg {
  width: 100%;
  height: 100%;
}

.ant-skeleton-element .ant-skeleton-input.image-skeleton {
  position: absolute;
  inset: 0;
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
}

.ant-btn.ant-btn-background-ghost.in-admin {
  border-color: theme('colors.dark');

  &:hover {
    border-color: theme('colors.primary-hover');
  }
}

.ant-rate {
  color: theme('colors.primary');
}

.ant-rate-star-first, .ant-rate-star-second {
  color: theme('colors.primary');
}
